.qc-user-info {
  margin-bottom: 2rem;

  .qc-ui-image {
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
  }

  .qc-ui-title {
    display: flex;
    align-items: center;
    color: #122740;
    font-weight: 600;
    font-size: 1.8rem;
    margin: 2rem 0rem 0.8rem;

    .qc-ui-settings {
      width: 1.8rem;
      height: 1.8rem;
      border-radius: 50%;
      margin-left: 0.6rem;
      cursor: pointer;
    }
  }

  .qc-ui-settings-block {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .qc-ui-subtitle {
    color: #3d5573;
    margin-bottom: 0.8rem;
  }

  .qc-ui-status {
    display: flex;
    align-items: center;
  }

  .qc-ui-s-text {
    min-width: 5rem;
  }

  .qc-ui-toggle {
    background-color: #0f4cff;
    border-radius: 2rem;
    width: 1.4rem;
    padding: 0.7rem 0.4rem;
    position: relative;
    margin-right: 0.4rem;
    cursor: pointer;

    .qc-uit-dot {
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background-color: #ffffff;
      position: absolute;
      float: left;
      left: 0.4rem;
      top: 0.4rem;
    }

    &.qc-ui-toggle-active {
      .qc-uit-dot {
        float: right;
        right: 0.4rem;
        left: unset;
      }
    }
  }
}
