.qc-badge {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  color: white;
  background-color: #fb5654;
  margin-left: 1rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  font-weight: 500;
}
