.quick-chat-dashboard {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 6px 4px -6px rgba(0, 0, 0, 0.04),
    0px 0px 12px 2px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 3rem;
  height: calc(100vh - 4.5rem - 42px);

  .qcd-left-panel {
    flex: 1;
    padding-right: 2rem;
    min-width: 23rem;
    height: 100%;
    .qc-user-info {
      margin-right: 1px;
    }

    .qc-contact-list {
      padding-right: 1px;
    }
  }

  .qcd-main-pannel {
    flex: 3;
    height: 100%;
  }

  .qcd-right-panel {
    flex: 1;
    padding-left: 3rem;
    min-width: 28rem;
    overflow: auto;
    height: 100%;
  }
}

@media only screen and (min-width: 940px) and (max-width: 1030px) {
  .quick-chat-dashboard {
    .qcd-right-panel {
      min-width: 22rem;

      .qc-week-activity .qc-wa-meet-status {
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 940px) {
  .quick-chat-dashboard {
    height: calc(100vh - 4.5rem - 11px);

    .qcd-right-panel {
      display: none;
    }
  }
}

@media only screen and (max-width: 800px) {
  .quick-chat-dashboard {
    height: calc(100vh - 3rem - 11px);

    .qcd-left-panel {
      padding-right: 1.5rem;

      .qc-user-info {
        margin-right: 0px;
      }

      .qc-contact-list-wrapper {
        padding-right: 0px;
      }
    }
    .qc-wrapper-box,
    &.qc-wrapper-box {
      padding: 1.5rem;
    }
  }
}

@media only screen and (max-width: 680px) {
  .quick-chat-dashboard {
    .qcd-left-panel {
      padding-right: 0rem;
    }

    .qcd-main-pannel {
      display: none;
    }
  }
}
