.qc-user-message {
  display: flex;
  padding: 0.5rem 0rem;

  .qc-um-icon-wrapper {
    width: fit-content;
    position: relative;
  }

  .qc-um-icon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
  }

  .qc-um-dot {
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
    position: absolute;
    background-color: #98a0b1;
    border: 1px solid #ffffff;
    top: 2.4rem;
    right: 0.1rem;

    &.qc-um-dot-active {
      background-color: #22bc9c;
    }
  }

  .qc-um-subtext {
    color: #98a0b1;
    padding: 0.5rem 0.8rem 0rem 0.8rem;
  }

  .qc-um-title {
    border-radius: 1rem;
    color: #535d74;
    font-size: 1.4rem;
    padding: 1rem;
    width: fit-content;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.04),
      0px 1px 1px rgba(0, 0, 0, 0.04);
    background-color: white;
    margin: 0rem 0.8rem;
  }

  &.active {
    display: flex;
    flex-direction: row-reverse;

    .qc-um-subtext {
      text-align: right;
    }

    .qc-um-title {
      background-color: #1a233c;
      color: white;
    }
  }
}
