.qc-user-message {
  display: flex;
  padding: 1rem 0rem;
  
  .qc-um-icon-wrapper {
    width: fit-content;
    position: relative;
  }

  .qc-um-icon {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    margin-right: 0.8rem;
  }

  .qc-um-dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    background-color: #22BC9C;
    border: 1px solid #ffffff;
    top: 2.4rem;
    right: 0.8rem;
  }

  .qc-um-subtext {
    color: #98A0B1;
    padding-top: 0.5rem;
  } 
}
