.quick-chat-user-activity {
  background-color: white;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100vh - 4rem);
  padding: 1rem;
  width: calc(100% - 2rem);

  img {
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 1rem;
  }

  .qc-week-activity,
  .qc-share-link {
    width: calc(100% - 4rem);
  }

  .qc-share-link {
    margin-top: 1rem;
  }
}
