.qc-contact-list {
  .qc-cl-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  .qc-cl-title {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: #122740;

    .qc-badge  {
      background-color: #EAEDEF;
      color: #112640;
    }
  }
  .qc-cl-arrow {
    width: 1.2rem;
    height: 1.2rem;
  }
}