.qc-contact-list-wrapper {
  height: calc(100% - 192px - 100px);
  overflow-y: auto;
  overflow-x: hidden;

  .qc-contact-list {
    padding-top: 1rem;

    .qc-cl-wrapper {
      overflow: hidden;
      max-height: 0;
      transition: max-height 300ms ease-in-out;
    }

    .qc-cl-wrapper.active {
      max-height: 70vh;
    }

    .qc-cl-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 1.4rem;
      cursor: pointer;
    }

    .qc-cl-title {
      display: flex;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 700;
      color: #122740;
      padding-right: 0.4rem;

      .qc-badge {
        background-color: #eaedef;
        color: #112640;
      }
    }

    .qc-cl-arrow {
      width: 1.2rem;
      height: 1.2rem;
      transform: rotate(-180deg);
      transition-timing-function: "ease-out";
      transition-duration: 300ms;
    }

    .qc-cl-a-active {
      transform: rotate(0deg);
    }
  }
}
